@charset "utf-8";
@font-face {
  font-family: HalvarBreit;
  src: url(../webfonts/HalvarBreit-Lt.woff2) format("woff2");
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  /* color: #fff; */
}
html,
body {
  /* overflow-x: hidden !important; */
  font-family: "Noto Sans KR", "Halvar Breitschrift", sans-serif, dotum, gulim;
}
.section {
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
  height: 100vh;
}

/* section0 */
#section0 {
  width: 100%;
}
#section0 .wrap {
  width: 100%;
}

header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
header .headerWrap {
  width: 100%;
  padding: 30px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header .headerWrap .logo {
  width: 200px;
  height: 20px;
}
header .headerWrap .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .headerWrap .logo img:nth-child(1) {
  display: none;
}
header .headerWrap .gnb > ul {
  display: flex;
  gap: 50px;
}
header .headerWrap .gnb > ul li a {
  font-family: HalvarBreit;
  color: #000;
  text-align: center;
}
header .headerWrap .gnb > ul > li {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
header .headerWrap .gnb > ul > li > a > span {
  padding: 0 0 20px 0;
  display: inline;
  position: relative;
  /* border-bottom: 3px solid #144835; */
}
header .headerWrap .gnb > ul > li > a > span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 3px;
  background: #144835;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
}
header.headerWrap .gnb > ul > li > a > span:hover:after {
  width: 100%;
  transform: scaleX(1);
}
header .headerWrap .gnb ul li .sub_gnb .two_dep {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .headerWrap .gnb ul li .sub_gnb .two_dep > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header .headerWrap .gnb ul li .sub_gnb .two_dep > li > ul {
  display: flex;
  flex-direction: column;
}

#section0 .con,
#section0 header {
  position: absolute;
  top: 0;
  left: 0;
}
#section0 .con {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section0 .con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
